

@section account{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="home" asp-action="LoginAsStudent"><span class="glyphicon glyphicon-log-in"></span>Login as Student</a></li>
    </ul>
}

<h3>Öğrenci sayfası</h3>