

<h2 style="text-align:center">Kullanıcı ekleme sayfası</h2>

<form method="post" action="/user/AddUser">
	<label for="name">Kullanıcı adı : </label> <br />
	<input type="text" id="name" name="firstName"/> <br />
	<label for="lastName">Soyadı : </label> <br />
	<input type="text" id="lastName" name="lastName"/> <br />
	<button type="submit" value="Kullanıcı ekle">Kullanıcı ekle</button>
</form>

































